@import "ol/ol.css";
@import "@angular/cdk/overlay-prebuilt.css";

:root {
  --primary-color: #6b5b7b;
  --text-color-dark: #333;
  --text-color-light: #fff;
  --border-color-light: #ddd;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

html,
body {
  height: 100%;
  margin: 0;
}