.toolbar button {
  font-size: 20px;
  margin: 5px;
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #f0f0f0;
}

/* Highlight the selected planet button */
.toolbar button.active {
  background-color: #6f5c80;
  color: white;
  border-color: #6f5c80;
}

header{
  font-size: 27px;
  background-color: #f9f9f9;
}

.main-layout {
  display: flex;
  height: calc(100vh - 51px);
  overflow: hidden;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background: #f9f9f9;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.map-area {
  flex-grow: 1;
  position: relative;
}

.map-container {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}

.layer-item {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.layer-item:hover {
box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

.layer-name {
  font-weight: bold;
  margin-left: 8px;
}

.layer-card {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
}
