
html, body {
  height: 100%; /* Ensure html and body take full viewport height */
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
  background-color: #666;
  text-align: center;
  font-size: 35px;
  color: white;
  height: 50px;
}

nav {
  float: left;
  width: 15%;
  background-color: #b6b4b4;
  height: 100vh;
}

article {
  float: right;
  width: 85%;
  .map {
    height: 100vh;
  }
}

