
html, body {
  width: 100%;
  height: 100%; /* Ensure html and body take full viewport height */
  background-color: #eeeeee;
}

header {
  text-align: left;
  font-size: 30px;
  background-color: #eeeeee;
  padding: 5px;
}

nav, article {
  width: 100%;
  background-color: #eeeeee;
}

nav {
  float: left;
  width: 15%;
  height: 100vh;
  background-color: #eeeeee;
}

article {
  float: right;
  width: 85%;
  background-color: #eeeeee;
  .map {
    height: 100vh;
  }
}

