<header>
  <div class="toolbar">
    Select Your Planetary Body:
    <button style="font-size: 20px; margin: 2px;" (click)="setPlanet('earth')">Earth</button>
    <button style="font-size: 20px; margin: 2px;" (click)="setPlanet('mars')">Mars</button>
    <button style="font-size: 20px; margin: 2px;" (click)="setPlanet('moon')">Moon</button>
  </div>
</header>

<section>
  <nav>
    <fieldset>
      <legend>Layer Select:</legend>
      <ul id="leftNav">
        <li><input type="checkbox"> Layer 1</li>
        <li><input type="checkbox"> Layer 2</li>
        <li><input type="checkbox"> Layer 3</li>
      </ul>
    </fieldset>
  </nav>

  <article>
    <div #mapContainer id="map" class="map"></div>
  </article>
</section>