name: Build Backend

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'public/tiles/**/*.png'
      - 'frontend/**'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'public/tiles/**/*.png'
      - 'frontend/**'

jobs:
  build-backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: './backend/package-lock.json'

      - name: Install Dependencies
        run: npm ci

      - name: Package Backend Artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-dist
          path: ./ # or specific build output folder if you have one
