name: Lint Back

on: 
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'public/tiles/**/*.png'
      - 'backend/tiles/**/*.png'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'public/tiles/**/*.png'
      - 'backend/tiles/**/*.png'
jobs:
  run-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: "main"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: '.*[Rr][Ee][Aa][Dd][Mm][Ee]\.md$'
