name: Lint Back

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - '**/README.md'
      - '**/tiles/**/*.png'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - '**/README.md'
      - '**/tiles/**/*.png'

jobs:
  flake8:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: |
          python -m pip install --upgrade pip
          pip install flake8
      - run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
