name: Test Backend

on: 
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'public/tiles/**/*.png'
      - 'backend/tiles/**/*.png'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'public/tiles/**/*.png'
      - 'backend/tiles/**/*.png'

jobs:
  test-backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: './backend/package-lock.json'

      - name: Install Dependencies
        run: npm ci

      - name: Build Backend
        run: npm install -D supertest @types/supertest

      - name: Add Supertest
        run: npm run build --if-present

      - name: Run Backend Tests
        run: npm test